<table id="thread-table" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Start</th>
            <th>Initial</th>
            <th>Current</th>
            <th>S3 Keys Visited</th>
        </tr>
    </thead>
    <tbody>
        {{#threads}}
        <tr>
            <td>{{id}}</td>
            <td>{{initial}}</td>
            <td data-toggle="modal" data-target="#shortModal2" onmouseover="this.style.cursor='pointer'; this.style.color = 'rgb(255,150,150)'; $('#s3key2').html('{{full_path}}');" onmouseout="this.style.color = ''" class="small">{{current}}</td>
            <td>{{num_visited}}</td>
        </tr>
        {{/threads}}
    </tbody>
</table>